:root {
  --primary: #232C33;
  --secondary: #ABB2C0;
  --green: #606C38;
  --white: #FFFFFF;
  --wood: #AE882D;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background: var(--primary);
}